<footer>
    <p>&copy; 2025 Berglund Tegneservice · Alle rettigheter reservert</p><br/>
    <strong><a href="mailto:berglundtegneservice@gmail.com">berglundtegneservice@gmail.com</a></strong><br/>
    <p>Telefon: <a href="tel:+4791815040">+47 918 15 040</a></p>

    <p>Adresse: Skulsfjordvegen 301, 9103 Kvaløya, Norge</p><br/>
    <nav class="footer-links" id="footer-links">
        <a href="policy.html">Vilkår</a>
        <a href="bestill-oppdrag.html">Bestill oppdrag</a>
        <a href="om.html">Om</a>
        <a href="priser.html">Priser</a>
      </nav>
  </footer>
  
