<header class="navbar">
    <div class="nav-container">
      <div class="logo">
        <a href="forside.html">
          <img src="assets/berglundtegneservicelogo2.png" alt="Berglund Tegneservice" class="logo-img" />
        </a>
      </div>
      <button class="menu-toggle" id="menu-toggle">☰</button>


      <nav class="nav-links" id="nav-links">
        <a href="index.html">Hjem</a>
        <a href="priser.html">Priser</a>
        <a href="bestill-oppdrag.html">Bestill oppdrag</a>
        <a href="om.html">Om</a>
      </nav>
    </div>
  </header>
  